header {
    display: flex;
    background: #F5E0B6;
    border-bottom: 2px solid #F5B164;
    justify-content: space-between;
    padding:10px 30px;
}

header .LogoGroup {
    display: flex;
    width: 80px;
    gap:15px;
}

header .LogoGroup h1 {
    display:block;
    width:100%;
    font-size:12px;
    font-weight: bolder;
}

header .LogoGroup img {
    max-height: 40px;
}