header {
    display: flex;
    background: #eee;
    border-bottom: 1px solid #999;
    justify-content: space-between;
    padding:10px 30px;
}

header .LogoGroup {
    display: flex;
    width: 60px;
    gap:15px;
}

header .LogoGroup h1 {
    display:block;
    width:100%;
    font-size:12px;
    font-weight: bolder;
}

header .LogoGroup img {
    max-height: 40px;
}