<form action="" name="ADD_BOOK" id="card">
        <h2>Книжная карточка</h2>
        <select name="OWNER">
          <option value="default">Выбери</option>
        </select>

        <select name="BOOK" data-rel='TITLE'>
          <option value="">Mersedes</option>
          <option value="Opel">Opel</option>
          <option value="BMW">BMW</option>
          <option value="Skoda">Skoda</option>
          <option value="Nissan">Nissan</option>
        </select>

        <button>Сохранить</button>
      </form>
    </div>